*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content__details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 25px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

/* .search-form__label-text {
font-family: Fira Sans Condensed;
font-weight: 400;
font-size: 18px; 
} */

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__list-container {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  max-width: 196px;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
