*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  bottom: 2px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content__details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 25px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  gap: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  position: relative;
  top: 2px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
  line-height: 100%;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  max-width: 196px;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  top: 1px;
}

.search-form__textfield:active {
  border-left-color: white;
  border-right-color: white;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid white;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline 1px solid;
  text-underline-offset: 2px;
}

.button {
  border: 1px solid white;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
  position: relative;
  top: 2px;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline solid white 1px;
  text-underline-offset: 2px;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.more-button {
  width: 100%;
  /* width: 390px; */
}

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover .content__video-card-title {
  text-decoration: underline solid white 2px;
  text-underline-offset: 6px;
}

.content__video-card:hover .content__video-card-description {
  text-decoration: underline solid white 1px;
  text-underline-offset: 4px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link:focus {
  outline: none;
  border: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}
